@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

    transition: all 0.3s ease 0s;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #323234;
    text-decoration: none;
}

header {
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}
header:hover {
    padding: 30px 5%;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.35);
}




.logo {
    cursor: pointer;
    width: 50px;
    min-width: 50px;
}
.logo:hover {
    transform: rotate(360deg);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: #00cc76;
}

button {
    padding: 10px 25px;
    background-color: rgb(0, 204, 118);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 136, 79, 0.8);
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background-color: #00cc76;
        margin: 5px;

    }
    .hamburger {
        top: 0px;
        cursor: pointer;
    }
    .nav {
        position: absolute;
        width: 100vw;
        height: 100vh;

    }


    .nav_links {
        z-index: 0;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: none;


        background-color: #00cc76;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;

        clip-path: circle(450px at 0vw 50vh);
    }

    .nav_links li a,.nav_links li {
        display: block;
        padding: 0px 20px;
        background-color: #00cc76;
    }






}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



.image-s1 {
    position: sticky;
    width: 100vw;
    height: 100vh;
    background : url("https://w.wallhaven.cc/full/39/wallhaven-392lk9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-1 {
    padding-top: 0px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*.part1 {*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    left: 360px;*/

/*    width: 50px;*/
/*    min-width: 50px;*/
/*    background : url("cpu.svg");*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    animation: particles 3s ease-in-out infinite alternate;*/
/*}*/

.particles {



}



@keyframes particles {
    0%{transform: translate(0,0)}
    100%{transform: translate(10px,35px)}

}

<<<<<<< HEAD


























=======
a:hover {



}
>>>>>>> master
